@import '../../../styles/CommonStyles.scss';

.wrapper {
  margin-top: 1rem;
  color: $black-muted;
  background-color: $white;
  border: 1px $gray solid;
  border-radius: 0.5rem;
  padding: 1rem;
  white-space: pre-line;
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: $black-muted;
    }
  }
  .tags {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      cursor: pointer;
      margin-right: 0.5rem;
    }
  }
  .content {
    h3 {
      margin-top: 0.5rem;
      font-weight: 700;
    }
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
  .manage {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
    .readMore {
      margin: auto;
      cursor: pointer;
    }
  }
  .status {
    border-top: 1px $gray solid;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.modalOverlay {
  z-index: 9999;
  display: flex;
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  animation: modal-blur-in 0.5s forwards;
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0;
    border: none;
    h4 {
      margin: 0;
    }
  }
  .modalContent {
    position: absolute;
    inset: 2rem;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    background: $white;
    border: 1px $gray solid;
    border-radius: 0.25rem;
    overflow: auto;
  }
  .deleteModalContent {
    height: fit-content
  }
  .rejectModalContent {
    height: fit-content;
    textarea {
      padding: 0.375rem 0.75rem;
      color: $black-muted;
      background-color: $white;
      border: 1px solid $gray;
      border-radius: 0.25rem;
      width: 800px;
      height: 200px;
    }
  }
  .editModalContent {
    width: 800px;
  }
  .modalButtons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

@media (max-width: 900px) {
  .modalOverlay {
    .editModalContent {
      width: 80%;
    }
    .rejectModalContent {
      width: 80%;
      textarea {
        width: 100%;
      }
    }
  }
}

@media (max-width: 465px) {
  .modalOverlay {
    .editModalContent {
      inset: 1rem;
      width: 90%;
    }
    .rejectModalContent {
      inset: 1rem;
      width: 90%;
    }
  }
}

@keyframes modal-blur-in {
  from {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}
