@import '../../../styles/CommonStyles.scss';

.wrapper {
  position: relative;
  margin-top: 1rem;
  color: $text-black;
  background-color: $white;
  border: 1px $neutral-500 solid;
  border-radius: 0.25rem;
  padding: 1rem;
  white-space: pre-line;
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user {
      color: $text-black;
    }
  }
  .tags {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    .tag {
      background-color: rgba($primary-500, 0.1);
      border-radius: 1rem;
      padding: 0 0.5rem;
      cursor: pointer;
    }
  }
  .content {
    h3 {
      margin-top: 0.5rem;
      font-weight: 700;
    }
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0.5rem;
    }
    .postDetailsLink {
      color: $text-black;
    }
  }
  .manage {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
    button {
      svg {
        font-size: 1.6rem;
        margin-right: 0.675rem;
      }
    }
  }
  .status {
    border-top: 1px $neutral-500 solid;
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .readMore {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent, white);
    button {
      position: absolute;
      transform: translate(-50%, 450%);
      border: none;
      background-color: transparent;
    }
  }
}

.hideContent {
  height: 300px;
  overflow: hidden;
}