@import '../../styles/CommonStyles.scss';

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $blue;
  div {
    &:nth-child(1) {
      font-size: 16rem;
      font-weight: 700;
      opacity: 0.1;
    }
    &:nth-child(2) {
      position: absolute;
      top: 230px;
      font-size: 4rem;
      font-weight: 700;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 310px;
    color: $white-muted;
    background-color: $blue;
    padding: 0.375rem 1.5rem;
    border-style: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    &:hover {
      color: $white-muted;
      background-color: $blue;
    }
  }
}

@media (max-width: 600px) {
  .notFound {
    div {
      &:nth-child(1) {
        font-size: 12rem;
      }
      &:nth-child(2) {
        font-size: 3rem;
        top: 170px;
      }
    }
    a {
      top: 230px;
    }
  }
}

