.alert {
  display: flex;
  align-items: center;
  position: relative;
  margin: 1rem 0 0 0;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  .alertIcon {
    min-height: 18px;
    min-width: 18px;
    margin-right: 0.5rem;
  }
}

.alertInfo {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.alertSuccess {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alertError {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}