@import '../../styles/CommonStyles.scss';

.register {
  margin-top: -0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 350px;
    button {
      margin: 1rem 0;
    } 
  }
}