$white: #ffffff;
$black: #000000;

$text-white: #fafafa;
$text-black: #121212;

$primary-200: #2457ad;
$primary-300: #204c98;
$primary-400: #1b4283;
$primary-500: #17376e;
$primary-600: #132c59;
$primary-700: #0e2244;
$primary-800: #0a172f;

$neutral-200: #f2f2f2;
$neutral-300: #e5e5e5;
$neutral-400: #d8d8d8;
$neutral-500: #cccccc;
$neutral-600: #bfbfbf;
$neutral-700: #b2b2b2;
$neutral-800: #a5a5a5;

$danger-500: #dc3545;

