.user-game-suggestions-page {
  &-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #cccccc solid;
    li {
      border-bottom: 2px transparent solid;
      white-space: nowrap;
      cursor: pointer;
      padding: 0 1rem 1rem 1rem;
    }
    .active {
      border-bottom: 2px #17376E solid;
    }
    .badge {
      display: inline-block;
      margin-left: 0.375rem;
      padding: 0.35em 0.65em;
      font-size: 0.75em;
      font-weight: 700;
      line-height: 1;
      color: #fafafa;
      background-color: #17376E;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25rem;
    }
  }
  &-info {
    text-align: center;
    padding: 1rem;
  }
}

@media (max-width: 675px) {
  .user-game-suggestions-page-navigation {
    justify-content: flex-start;
    overflow: scroll;
  }
}