@import '../../../styles/CommonStyles.scss';

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: 700;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      a {
        padding: 0.5rem 1rem;
        display: flex;
        svg {
          color: $black-muted;
        }
      }
    }
    li.selected {
      background-color: $blue;
      color: $white-muted;
      border-radius: 0.25rem;
    }
    li.disabled {
      pointer-events: none;
    }
  }
}