@import '../../styles/CommonStyles.scss';

.wrapper {
  margin-top: 1rem;
  color: $text-black;
  background-color: $white;
  border: 1px $neutral-500 solid;
  border-radius: 0.25rem;
  padding: 1rem;
  white-space: pre-line;
  .header {
    margin: 0 0 0.25rem 0;
  }
  .contributors {
    display: flex;
    flex-direction: column;
    a {
      color: inherit;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}