@import '../../styles/CommonStyles.scss';

.overlay {
  z-index: 999;
  display: flex;
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  animation: modal-blur-in 0.5s forwards;
  .content {
    position: absolute;
    inset: 3rem;
    height: fit-content;
    max-height: calc(100% - 6rem);
    width: fit-content;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    background: $white;
    border: 1px $gray solid;
    border-radius: 0.25rem;
    overflow: auto;
  }
}

@include breakpoint(large) {
  .overlay {
    .content {
      inset: 2rem;
      max-height: calc(100% - 4rem);
    }
  }
}

@include breakpoint(medium) {
  .overlay {
    .content {
      inset: 1rem;
      max-height: calc(100% - 2rem);
    }
  }
}

@keyframes modal-blur-in {
  from {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}
