@import '../../../styles/CommonStyles.scss';

.wrapper {
  margin-top: 1rem;
  color: $black-muted;
  background-color: $white;
  border: 1px $gray solid;
  border-radius: 0.25rem;
  padding: 1rem;
  white-space: pre-line;
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: $black-muted;
    }
  }
  .tags {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      cursor: pointer;
      margin-right: 0.5rem;
    }
  }
  .content {
    h3 {
      margin-top: 0.5rem;
      font-weight: 700;
    }
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0.5rem;
    }
    a.projectDetailsLink {
      color: $black-muted;
    }
  }
  .manage {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
    button {
      svg {
        font-size: 1.6rem;
        margin-right: 0.675rem;
      }
    }
  }
}
