.swiperSlide {
  width: 100%;
  height: 400px;
}

.swiperSlideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 750px) {
  .swiperSlide {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .swiperSlide {
    height: 200px;
  }
}