@import '../../../styles/CommonStyles.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px $neutral-500 solid;
  padding: 2rem 1rem;
  margin-top: 1rem;
  background-color: $primary-700;
  color: $text-white;
}