@import '../../../../styles/CommonStyles.scss';

.modalOverlay {
  z-index: 9999;
  display: flex;
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  animation: modal-blur-in 0.5s forwards;
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0;
    border: none;
    h4 {
      margin: 0;
    }
  }
  .modalContent {
    position: absolute;
    inset: 2rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 1rem;
    background: $white;
    border: 1px $gray solid;
    border-radius: 0.25rem;
    overflow: auto;
    textarea {
      padding: 0.375rem 0.75rem;
      color: $black-muted;
      background-color: $white;
      border: 1px solid $gray;
      border-radius: 0.25rem;
      width: 800px;
      height: 150px;
    }
  }
  .modalButtons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

@media (max-width: 900px) {
  .modalOverlay {
    .modalContent {
      width: 80%;
      textarea {
        width: 100%;
      }
    }
  }
}

@media (max-width: 465px) {
  .modalOverlay {
    .modalContent {
      inset: 1rem;
      width: 90%;
    }
  }
}

@keyframes modal-blur-in {
  from {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}
