@import '../../styles/CommonStyles.scss';

.name {
  background-color: $primary-500;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  color: $text-white;
  font-weight: bold;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  padding: 0 2rem;
  .label {
    font-weight: bold;
    flex-basis: 100px;
    flex-shrink: 0;
  }
}

.posts, .projects {
  margin-top: 1rem;
  .header {
    font-size: 1.5rem;
  }
}

.notFound {
  text-align: center;
}

@include breakpoint(small) {
  .user {
    .info {
      padding: 0;
    }
  }
}