@import '../../../../styles/CommonStyles.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-white;
  background-color: $primary-500;
  border-style: none;
  border-radius: 2rem;
  padding: 0.375rem 1.5rem;
  height: 40px;
  &:hover {
    color: $text-white;
    background-color: $primary-500;
  }
}

.fullWidth {
  width: 100%;
}