@import '../../../styles/CommonStyles.scss';

nav.navbar {
  padding: 1rem 0;
  background-color: $primary-700;
}

.nav {
  &-item {
    font-size: 1.125rem;
    color: $text-white;
    position: relative;
  }
  &-link {
    cursor: pointer;
  }
  &-dropdown {
    position: absolute;
    width: 350px;
    top: 59px;
    transform: translate(-40%);
    background-color: $primary-700;
    border: 1px solid $primary-700;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    z-index: 99;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 10%);
  }
}

@include breakpoint(large) {
  ul.nav-dropdown {
    position: relative;
    width: auto;
    top: 0;
    transform: translate(0%);
    background-color: none;
    border: none;
    padding: 0;
    z-index: auto;
    box-shadow: none;
    li {
      height: auto;
      padding: 0;
    }
  }
}