@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import './styles/CommonStyles.scss';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: $neutral-200;
  color: $text-black;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-wrapper {
  min-height: 100vh;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $text-black;
  transition: background-color 5000s ease-in-out 0s;
}
