@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$background-color-primary: #0D2857;
$background-color-secondary: #ffffff;
$text-color-primary: #fafafa;
$text-color-secondary: #121212;
$color-primary: #17376E;
$color-primary-hover: #17376E;
$color-danger: #dc4c3b;
$color-danger-hover: #dc4c3b;
$color-success: #3e9a6f;
$color-success-hover: #3e9a6f;
$color-minimal: #cccccc;

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F0F2F5;
  color: $text-color-secondary;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-title {
  color: $text-color-secondary;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}

.page-header {
  &-text {
    &-primary {
      font-size: 3rem;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &-secondary {
      font-size: 1.8rem;
    }
  }
  &-title {
    position: relative;
    color: $text-color-primary;
    background-color: $color-primary;
    border-bottom: 1px $color-minimal solid;
  }
}



@media (max-width: 435px) {
  .header-title {
    font-size: 2.2rem;
  }
  .page-header {
    &-text-primary {
      font-size: 2.2rem;
    }
    &-text-secondary {
      font-size: 1.4rem;
    }
  }
}

.post-form {
  color: $text-color-secondary;
  &-button {
    margin-top: 1rem;
    color: $text-color-primary;
    background-color: $color-primary;
    border-style: none;
  }
}

.content-wrapper {
  margin-top: 1rem;
  color: $text-color-secondary;
  background-color: $background-color-secondary;
  border: 1px $color-minimal solid;
  border-radius: 2rem;
  padding: 1rem;
  white-space: pre-line;
}

.modal{
  &-overlay {
    display: flex;
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  &-content {
    margin: auto;
    position: absolute;
    width: 800px;
    inset: 2rem;
    border: 1px $color-minimal solid;
    background: $background-color-secondary;
    overflow: auto;
    border-radius: 1rem;
    outline: none;
    padding: 1rem;
  } 
}

@media (max-width: 900px) {
  .modal-content {
    width: 80%;
  }
}

@media (max-width: 465px) {
  .modal-content {
    inset: 1rem;
    width: 90%;
  }
}

.input {
  &-field {
    color: $text-color-secondary;
    background-color: $background-color-secondary;
  }
}

.btn {
  color: $text-color-primary;
  background-color: $color-primary;
  border-style: none;
  border-radius: 2rem;
  &:hover {
    color: $text-color-primary;
    background-color: $color-primary;
  }
  .disabled {
    margin-top: -1rem;
    opacity: 0.7;
  }
  &-delete {
    background-color: $color-danger;
    &:hover {
      background-color: $color-danger-hover;
    }
  }
  &-approve {
    background-color: $color-success;
    &:hover {
      background-color: $color-success-hover;
    }
  }
  &-close {
    font-size: 1.4rem;
  }
}

.navbar {
  padding: 1rem 0;
  background-color: $background-color-primary;
}

.nav {
  &-item {
    font-size: 1.125rem;
    color: $text-color-primary;
    position: relative;
  }
  &-link {
    cursor: pointer;
  }
  &-dropdown {
    position: absolute;
    width: 300px;
    top: 59px;
    transform: translate(-40%);
    background-color: $background-color-primary;
    border: 1px solid $background-color-primary;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    z-index: 1;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 10%);
  }
}

@media (max-width: 991px) {
  ul.nav-dropdown {
    position: relative;
    width: auto;
    top: 0;
    transform: translate(0%);
    background-color: none;
    border: none;
    padding: 0;
    z-index: auto;
    box-shadow: none;
    li {
      height: auto;
      padding: 0;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  ul {
    padding: 0;
  }
  &-pages {
    display: flex;
    justify-content: center;
    .page {
      &-item {
        cursor: pointer;
        :hover {
          color: $text-color-primary;
          background-color: $color-primary;
          border: 1px $color-primary solid;
        }
      }
      &-item.active {
        .page-link {
            background-color: $color-primary;
            border: 1px $color-primary solid;
          }
        }
        &-link {
          color: $text-color-secondary;
          background-color: $background-color-secondary;
          border: 1px $color-minimal solid;
      }
    }
  }
  &-sizes {
    display: flex;
    justify-content: center;
    .page-item {
      :hover {
        color: $text-color-secondary;
      }
      .page-link {
        color: $text-color-secondary;
        background-color: transparent;
        border: none;
        cursor: pointer;
        :focus {
          border: none;
        }
      }
    }
    .page-item:nth-child(2) .page-link {
      border-left: 1px $color-minimal solid;
      border-right: 1px $color-minimal solid;
    }
  }
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  &-item {
    padding: 0 0.5rem 0 0;
    border: none;
  }
}

.notfound {
  position: relative;
  right: 15px;
  text-align: center;
  p {
    &:nth-child(1) {
      position: relative;
      margin: 0;
      font-size: 16rem;
      font-weight: bold;
      opacity: 0.3;
      color: $color-primary;
    }
    &:nth-child(2) {
      position: relative;
      margin: 0;
      top: -135px;
      right: -150px;
      font-size: 2rem;
      font-weight: bold;
      color: $color-primary;
    }
  }
  a {
    position: relative;
    top: -135px;
    right: -150px;
    width: 220px;
    font-size: 1.2rem;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  .notfound {
    p {
      &:nth-child(1) {
        font-size: 10rem;
      }
      &:nth-child(2) {
        display: inline-block;
        top: -85px;
        right: -185px;
        font-size: 1.4rem;
      }
    }
    a {
      top: -50px;
      right: -25px;
      width: 165px;
      font-size: 1.2rem;
    }
  }
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: $color-primary transparent $color-primary transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  &-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert {
  margin: 1rem 0 0 0;
  padding: 0.5rem 0.5rem;
  &-icon {
    font-size: 1.6rem;
    margin-right: 1rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $text-color-secondary;
  transition: background-color 5000s ease-in-out 0s;
}
