@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$text-color-light: #fafafa;
$text-color-dark: #121212;
$color-primary: #17376E;
$color-primary-hover: #17376E;
$color-primary-darker: #0D2857;
$color-white: #ffffff;
$color-minimal: #cccccc;

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F0F2F5;
  color: $text-color-dark;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.page-wrapper {
  min-height: 100vh;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.page-header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  color: $text-color-light;
  background-color: $color-primary;
  border-bottom: 1px $color-minimal solid;
}

@media (max-width: 475px) {
  .page-header {
    font-size: 2.2rem;
  }
  .posts-page {
    &-header {
      flex-direction: column;
      align-items: flex-start !important;
      h3 {
        margin-bottom: 1rem !important;
      }
    }
    &-filter {
      width: 100% !important;
    }
  }
}

.posts-page {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  &-header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin: 0;
    }
  }
  &-filter {
    width: 250px;
  } 
}


.post-form {
  color: $text-color-dark;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    h3 {
      margin: 0;
    }
  }
  &-error {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 0.875em;
    color: #dc3545;
  }
  &-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.375rem;
    color: $text-color-light;
    background-color: $color-primary;
    border-style: none;
    border-radius: 2rem;
  }
}

.post {
  &-wrapper {
  margin-top: 1rem;
  color: $text-color-dark;
  border-top: 1px $color-minimal solid;
  padding-top: 1rem;
  white-space: pre-line;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
    a {
      color: $text-color-dark;
    }
  }
  &-tags {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      margin-right: 0.5rem;
    }
  }
  &-content {
    h3 {
      margin-top: 0.5rem;
      font-weight: 700;
    }
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }
  &-manage {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    button {
      margin-left: 0.5rem;
    }
  }
}

.modal{
  &-overlay {
    display: flex;
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    animation: modal-blur-in 0.5s forwards;
  }
  &-content {
    margin: auto;
    position: absolute;
    width: 800px;
    inset: 2rem;
    border: 1px $color-minimal solid;
    background: $color-white;
    overflow: auto;
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
  } 
}

.manage-modal{
  &-overlay {
    display: flex;
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    animation: modal-blur-in 0.5s forwards;
  }
  &-content {
    margin: auto;
    position: absolute;
    width: 300px;
    height: 110px;
    inset: 2rem;
    border: 1px $color-minimal solid;
    background: $color-white;
    overflow: auto;
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    text-align: center;
  } 
  &-buttons {
    display: flex;
    justify-content: space-around;
    .btn {
      width: 120px;
    }
  }
}

@keyframes modal-blur-in {
  from {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}

@media (max-width: 900px) {
  .modal-content {
    width: 80%;
  }
}

@media (max-width: 465px) {
  .modal-content {
    inset: 1rem;
    width: 90%;
  }
}

.input {
  &-label {
    margin-top: 0.5rem;
  }
  &-field {
    color: $text-color-dark;
    background-color: $color-white;
  }
}

.auth {
  margin-top: -0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 350px;
    &-error {
      margin: 0;
      display: flex;
      justify-content: flex-end;
      font-size: 0.875em;
      color: #dc3545;
    }
    &-button {
      align-self: center;
      margin: 1rem;
      padding: 0.375rem 2.5rem;
      color: #fafafa;
      background-color: #17376E;
      border-style: none;
      border-radius: 2rem;
      font-size: 1.25rem;
    } 
  }
}

.btn {
  color: $text-color-light;
  background-color: $color-primary;
  border-style: none;
  border-radius: 2rem;
  padding: 0.375rem 1.5rem;
  &:hover {
    color: $text-color-light;
    background-color: $color-primary;
  }
  .disabled {
    margin-top: -1rem;
    opacity: 0.7;
  }
  &-close {
    font-size: 1.4rem;
  }
}

.navbar {
  padding: 1rem 0;
  background-color: $color-primary-darker;
}

.nav {
  &-item {
    font-size: 1.125rem;
    color: $text-color-light;
    position: relative;
  }
  &-link {
    cursor: pointer;
  }
  &-dropdown {
    position: absolute;
    width: 300px;
    top: 59px;
    transform: translate(-40%);
    background-color: $color-primary-darker;
    border: 1px solid $color-primary-darker;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    z-index: 1;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 10%);
  }
}

@media (max-width: 991px) {
  ul.nav-dropdown {
    position: relative;
    width: auto;
    top: 0;
    transform: translate(0%);
    background-color: none;
    border: none;
    padding: 0;
    z-index: auto;
    box-shadow: none;
    li {
      height: auto;
      padding: 0;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  ul {
    padding: 0;
  }
  &-pages {
    display: flex;
    justify-content: center;
    .page {
      &-item {
        cursor: pointer;
        :hover {
          color: $text-color-light;
          background-color: $color-primary;
          border: 1px $color-primary solid;
        }
      }
      &-item.active {
        .page-link {
            background-color: $color-primary;
            border: 1px $color-primary solid;
          }
        }
        &-link {
          color: $text-color-dark;
          background-color: $color-white;
          border: 1px $color-minimal solid;
      }
    }
  }
  &-sizes {
    display: flex;
    justify-content: center;
    .page-item {
      :hover {
        color: $text-color-dark;
      }
      .page-link {
        color: $text-color-dark;
        background-color: transparent;
        border: none;
        cursor: pointer;
        :focus {
          border: none;
        }
      }
    }
    .page-item:nth-child(2) .page-link {
      border-left: 1px $color-minimal solid;
      border-right: 1px $color-minimal solid;
    }
  }
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $color-primary;
  p {
    &:nth-child(1) {
      font-size: 16rem;
      font-weight: 700;
      opacity: 0.1;
    }
    &:nth-child(2) {
      position: absolute;
      top: 230px;
      font-size: 4rem;
      font-weight: 700;
    }
  }
  a {
    position: absolute;
    top: 310px;
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .notfound {
    p {
      &:nth-child(1) {
        font-size: 12rem;
      }
      &:nth-child(2) {
        font-size: 3rem;
        top: 170px;
      }
    }
    a {
      top: 230px;
    }
  }
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: $color-primary transparent $color-primary transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  &-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  &-icon {
    min-height: 18px;
    min-width: 18px;
    margin-right: 0.5rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px $color-minimal solid;
  padding: 2rem 1rem;
  margin-top: 1rem;
  background-color: $color-primary-darker;
  color: $text-color-light;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $text-color-dark;
  transition: background-color 5000s ease-in-out 0s;
}
